extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.container
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h3#flowchart(data-flowchart-id=flowchart.flowchart_id, data-end-id=flowchart.end_id) 
							| Cuestionario 
							= flowchart.flowchart_name
			.col-md-2

		.row
			.col-md-2
			.col-md-8
				.panel.panel-info
					.panel-heading 
						h3(class='panel-title')
							| Información Básica
					.panel-body
						form
							.form-group
								label(for='take_survey_name') Cuestionario: 
								span#take_survey_name(class='form-control', disabled)
									= flowchart.flowchart_name
							.form-group
								label(for='survey_date') Fecha Comenzado:
								span#survey_date(class='form-control', disabled)
							.form-group
								label(for='take_survey_username') Llenado por:
								span#take_survey_username(class='form-control', disabled, data-id=current_user.user_id)
									= current_user.username
							.form-group
								label(for='take_survey_location_name') Localización:
								#scrollable-dropdown-menu(data-locations=locations) 
									input#take_survey_location_name(class="form-control typeahead", name="take_survey_location_name", type='text', placeholder='Nombre de Localización')
							.form-group
								label(for='take_survey_report_name') Nombre para reporte:
								input#take_survey_report_name(class="form-control", name="take_survey_report_name", type='text', placeholder='Nombre de Reporte')
						form#form_survey_flow(role='form', style="display: none;")
							.form-group
								input#take_survey_id(name='take_survey_id', type='text', value=flowchart.flowchart_id)
							.form-group
								input#take_survey_date(name='take_survey_date', type='text', value='')
							.form-group
								input#take_survey_user_id(name='take_survey_user_id', type='text', value=current_user.user_id)
							.form-group
								input#take_survey_location_id(name='take_survey_location_id', type='text', value='')
						.row
							.col-md-2
							.col-md-7
							.col-md-3
								button#take_survey_start(class='btn btn-default btn-success', type='button') Comenzar Encuesta

		.row#row_answered(style="display: none;")
			.col-md-2
			.col-md-8
				.panel.panel-success
					.panel-heading 
						h3(class='panel-title')
							| Preguntas Contestadas
					.panel-body
						ol#answered_questions
							p No ha contestado preguntas.
		
		.row#row_current(style="display: none;")
			.col-md-2
			.col-md-8
				.panel.panel-success
					.panel-heading 
						h3#panel_title_first(class='panel-title')
							| Primera Pregunta
						h3#panel_title_next(class='panel-title', style="display: none;")
							| Próxima Pregunta
					.panel-body#next_question
						p#next_question_question(data-question-id=flowchart.first_id, data-question-type='')
						#next_question_answers
		
		.row#row_buttons(style="display: none;")
			.col-md-2
			.col-md-2
				button#btn_next_question(class='btn btn-sm btn-default btn-block', type='button') Próxima Pregunta
			//.col-md-2
				//button#btn_save_progress(class='btn btn-sm btn-default btn-block', type='button', disabled) Guardar Progreso (Abort)
			.col-md-2
				button#btn_cancel(class='btn btn-sm btn-default btn-block', type='button') Cancelar Progreso
			.col-md-4
				button#btn_end_survey(class='btn btn-sm btn-default btn-block', type='button', style="display: none;") Finalizar Cuestionario
		br
		.row#row_home
			.col-md-2
			.col-md-8
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/cuestionario_flujo.js')
	script(src='/javascripts/helpers.js')
	script(src='/javascripts/typeahead.jquery.js')