extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h4 Manejar Ganaderos
			.col-md-2

		.row
			.col-md-1
			.col-md-6
				small
					| *Buscar ganadero por nombre o correo electrónico
				input#search_bar(class='form-control typeahead', name='search_bar', type='text', placeholder='Buscar')
			.col-md-4
			.col-md-1
		br
		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading Ganaderos
					.panel-body
						.list-group(style='overflow:auto; height:300px;')
							table(class='table')
								thead
								tbody#ganaderos_list(data-ganaderos=ganaderos, data-localizaciones=locations, data-user=user)
									each ganadero, i in ganaderos
										tr
											td
												if i!=0
													a(class='list-group-item show_info_ganadero', href='#', data-id=ganadero.person_id)
														= ganadero.person_name
												else 
													a(class='list-group-item active show_info_ganadero', href='#', data-id=ganadero.person_id)
														= ganadero.person_name
											//if  user.user_type != 'agent'
												//td
													//button(class='btn_edit_ganadero btn btn-sm btn-success btn-block', type='button', data-id=ganadero.person_id) Editar
											//if  user.user_type != 'agent'
												//td
													//a(class='btn_delete_ganadero btn btn-sm btn-success', data-toggle='tooltip', data-id=ganadero.person_id)
														//i(class='glyphicon glyphicon-trash')

			#edit_panel.col-md-4(style="display:none")
				.jumbotron
					h4#heading_create Crear Ganadero
					h4#heading_edit Editar Ganadero
					form#form_manage_ganadero(role='form')
						.form-group
							label(for='ganadero_name') Nombre de Ganadero:
							input#ganadero_name(class='form-control', name='ganadero_name', type='text', placeholder='Nombre')
						.form-group
							label(for='ganadero_m_initial') Inicial de Segundo Nombre:
							input#ganadero_m_initial(class='form-control', name='ganadero_m_initial', type='text', placeholder='inicial')
						.form-group
							label(for='ganadero_apellido1') Apellido Paterno:
							input#ganadero_apellido1(class='form-control', name='ganadero_apellido1', type='text', placeholder='Apellido Paterno')
						.form-group
							label(for='ganadero_apellido2') Apellido Materno:
							input#ganadero_apellido2(class='form-control', name='ganadero_apellido2', type='text', placeholder='Apellido Materno')
						.form-group
							label(for='ganadero_email') Correo Electronico
							input#ganadero_email(class='form-control', name='ganadero_email', type='text', placeholder='correo@upr.edu')
						.form-group
							label(for='ganadero_telefono') Número Telefónico:
							input#ganadero_telefono(class='form-control', name='ganadero_telefono', type='text', placeholder='111-222-3333')
					.btn-group(role='group', aria-label='edit panel buttons')
						button#btn_close_edit_panel(class='btn btn-default') Cerrar
						button#btn_edit(class='btn btn-default btn-success', type='button') Guardar
						button#btn_submit(class='btn btn-default btn-success', type='button') Someter
			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title') 
					.panel-body
						table#ganadero_info(class='table table-nowrap')
							thead
							tbody#body_info(data-ganaderos=ganaderos, data-localizaciones=locations, data-user=user)
								tr
									td Nombre:
									td#ganadero_info_name 
								tr
									td Apellidos:
									td#ganadero_info_apellidos 
								tr
									td Información de Contacto:
									td#ganadero_info_contact
						.panel.panel-info
										.panel-heading Localizaciones Asignadas
										.panel-body
											table#ganadero_locations(class='table')
						button(class='btn_edit_ganadero btn btn-sm btn-success btn-block', type='button', data-id=ganadero.person_id) Editar
						button#btn_close_info_panel(class='btn btn-default') Cerrar
			.col-md-1
		
		.row
			.col-md-1
			.col-md-3
				button#btn_add_ganadero(class='btn btn-sm btn-default btn-block', type='button') Agregar Ganadero
			.col-md-3
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/typeahead.bundle.min.js')
	script(src='/javascripts/manejar_ganaderos.js')
	script(src='/javascripts/helpers.js')