extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2#header_page Servicio de Extensión Agrícola
						h4 Manejar Categorias
			.col-md-2

		.row
			.col-md-1
			.col-md-1
				#btn_home(class='btn-group', role='group', aria-label='')
					a(class='btn btn-success btn-block', data-toggle='tooltip')
						i(class='glyphicon glyphicon-home')
			.col-md-5
				#nav(class='btn-group', role='group', aria-label='')
					btn(class='btn btn-default active', type='button', id='categories_tab') Categorias 
					btn(class='btn btn-default', type='button', id='specialties_tab') Especialidades
				//small
				//	| *Buscar categorias por nombre
				//input#search_bar(class='form-control typeahead', name='search_bar', type='text', placeholder='Buscar')
			.col-md-4
			.col-md-1

		#category_row.row
			.col-md-1
			.col-md-6
				#categoria_panel.form-group(data-all-categorias=categories, data-type=user_type, data-username=username)
								.panel.panel-success
									#categoria_panel_title.panel-heading Categorías de Localización
									.panel-body
										.list-group(style='overflow:auto; height:550px;')
											table(class='table')
												tbody#categories
										button#btn_add_categories(class='btn btn-default btn-success', type='button') Agregar Categorías
			.col-md-4
				#info_panel_category.panel.panel-success
					.panel-heading
						h3#info_panel_heading_category(class='panel-title') Categoría
					.panel-body(data-all-categorias=categories)
						table#ganadero_info(class='table table-nowrap')
							thead
							tbody
								tr
									td#category_info_name
						button#btn_edit_categories(class='btn btn-default btn-block btn-success', type='button') Editar
						a#btn_delete_category(class='btn btn-danger btn-block', data-toggle='tooltip')
							i(class='glyphicon glyphicon-trash')
				#add_category_panel.form-group
								.panel.panel-success
									.panel-heading
									.panel-body
										form#form_new_category(role='form')
											.form-group
											label(for='new_category') Nueva Categoria:
											input#new_category(class='form-control', name='new_category', type='text', placeholder='Nueva Categoria')
										br
										button#btn_post_new_category(class='btn btn-success btn-block') Someter
										button#btn_close_add_category(class='btn btn-default btn-block') Cerrar
				#edit_category_panel.form-group
								.panel.panel-success
									.panel-heading
									.panel-body
										form#form_edit_category(role='form')
											.form-group
											label(for='category_name') Editar Categoria:
											input#category_name(class='form-control', name='category_name', type='text', placeholder='Editar Categoria')
										br
										button#btn_put_new_category(class='btn btn-success btn-block') Guardar
										button#btn_close_edit_category(class='btn btn-default btn-block') Cerrar

		#specialty_row.row
				.col-md-1
				.col-md-6
					#specialty_panel.form-group(data-all-specialties=specialties)
								.panel.panel-success
									#specialty_panel_title.panel-heading Especialidades
									.panel-body
										.list-group(style='overflow:auto; height:550px;')
											table(class='table')
												tbody#specialties
										button#btn_add_specialties(class='btn btn-default btn-success', type='button') Agregar Especialidades
				.col-md-4


					#specialty_info_panel.panel.panel-success
						.panel-heading
							h3#info_panel_heading(class='panel-title') Especialidad
						.panel-body(data-all-specialties=specialties)
							table#ganadero_info(class='table table-nowrap')
								thead
								tbody
									tr
										td#specialty_info_name
							button#btn_edit_specialties(class='btn btn-default btn-block btn-success', type='button') Editar
							a#btn_delete_specialty(class='btn btn-danger btn-block', data-toggle='tooltip')
								i(class='glyphicon glyphicon-trash')


					#add_specialty_panel.form-group
								.panel.panel-success
									.panel-heading
									.panel-body
										form#form_new_specialty(role='form')
											.form-group
											label(for='new_specialty') Nueva Especialidad:
											input#new_specialty(class='form-control', name='new_specialty', type='text', placeholder='Nueva Especialidad')
										br
										button#btn_post_new_specialty(class='btn btn-success btn-block') Someter
										button#btn_close_add_specialty(class='btn btn-default btn-block') Cerrar
					#edit_specialty_panel.form-group
								.panel.panel-success
									.panel-heading
									.panel-body
										form#form_edit_specialty(role='form')
											.form-group
											label(for='specialty_name') Editar Especialidad:
											input#specialty_name(class='form-control', name='specialty_name', type='text', placeholder='Editar Especialidad')
										br
										button#btn_put_new_specialty(class='btn btn-success btn-block') Guardar
										button#btn_close_edit_specialty(class='btn btn-default btn-block') Cerrar

			.row
				.col-md-1
				.col-md-6
					// TODO: add home glyphicon
					//button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal
	//Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/typeahead.bundle.min.js')
	script(src='/javascripts/manejar_categorias.js')
	script(src='/javascripts/helpers.js')