extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agricola
						h4 Manejar Citas
			.col-md-2
		
		.row
			.col-md-1
			.col-md-6
				input#search_bar(class='form-control typeahead', name='search_bar', type='text', placeholder='Buscar cita por fecha (dd/mm/aaaa), hora (hh:mm AM), localización o reporte')
			.col-md-4
			.col-md-1

		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading Citas Pendientes
					.panel-body
						.list-group(style='overflow:auto; height:300px;')
							table(class='table')
								thead
									//tr
									//	th 
									//		center Localización
									//	th 
									//		center Fecha y Hora
								tbody#citas_list(data-citas=citas, data-user=user)
									each cita, i in citas
										tr
											td
												if i!=0
													a(class='list-group-item show_info_cita', href='#', data-id=cita.appointment_id)= cita.location_name
												else 
													a(class='list-group-item show_info_cita active', href='#', data-id=cita.appointment_id)= cita.location_name
											//td
											//	center
											//		= cita.date
											//		|  @ 
											//		= cita.time
											//if  user.user_type != 'agent'
											//	td
											//		button(class='btn_edit_cita btn btn-sm btn-success btn-block', type='button', data-id=cita.appointment_id) Editar
												//td
												//	a(class='btn_delete_cita btn btn-sm btn-success', data-toggle='tooltip', data-id=cita.appointment_id)
												//		i(class='glyphicon glyphicon-trash')

			#edit_panel.col-md-4(style="display:none")
				.jumbotron
					h4#heading_edit Editar Cita
					form#form_manage_cita(role='form')
						.form-group
							label(for='cita_location') Localización:
							input#cita_location(class='form-control', name='cita_location', type='text', disabled)
						.form-group
							label(for='cita_date') Fecha:
							input#cita_date(class='form-control', name='cita_date', type='date')
						.form-group
							label(for='cita_time') Hora:
							input#cita_time(class='form-control', name='cita_time', type='time')
						.form-group
							label(for='cita_proposito') Proposito:
							textarea#cita_proposito(class='form-control', name='cita_proposito', type='text', placeholder='Proposito')
					.btn-group(role='group', aria-label='info panel buttons')
						button#btn_close_edit_panel(class='btn btn-default') Cerrar
						button#btn_edit(class='btn btn-default btn-success', type='button') Guardar

			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title') Cita
					.panel-body
						table#cita_info(class='table')
							tr
								td Localización:
								td#cita_info_location 
							tr
								td Fecha:
								td#cita_info_date
							tr
								td Hora: 
								td#cita_info_hour
							tr
								td Propósito:
								td#cita_info_purpose
							tr
								td Cita hecha por:
								td#cita_info_agent
							tr 
								td Reporte Asociado:
								td#cita_info_report
							tr
								td Más detalles:
								td 
									button#btn_view_report(class='btn btn-sm btn-success', type='button', data-id=citas[0].report_id) Ver Reporte
						button#btn_edit_cita(class='btn btn-success btn-block', type='button', data-id=citas[0].appointment_id) Editar
						if(user.user_type == 'admin')
							a#btn_delete(class='btn btn-danger btn-block', data-toggle='tooltip', data-id=citas[0].appointment_id, data-location-name=citas[0].location_name)
								i(class='glyphicon glyphicon-trash')

			#location_panel.col-md-4(style="display:none")
				.panel.panel-success
					.panel-heading
						h3#location_panel_heading(class='panel-title')
					.panel-body
						table#localizacion_info(class='table')
							tr
								td Nombre:
								td#localizacion_info_name 
							tr
								td Numero de Licencia:
								td#localizacion_info_license
							tr
								td Dirección:
								td#localizacion_info_address
							tr
								td Ciudad:
								td#localizacion_info_ciudad
							tr
								td Código Postál:
								td#localizacion_info_zipcode 
						.panel.panel-info
							.panel-heading Ganaderos Asociados
							.panel-body
								table#localizacion_ganaderos(class='table')
									tr
										td 
											strong Dueño: 
										td#owner 
									tr
										td 
											strong Gerente:
										td#manager 
						.panel.panel-info
							.panel-heading Agentes Asignados
							.panel-body
								table#localizacion_agentes(class='table')
						button#btn_close_location_panel(class='btn btn-default') Cerrar

		.row
			.col-md-2
			.col-md-4
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/typeahead.bundle.min.js')
	script(src='/javascripts/manejar_citas.js')
	script(src='/javascripts/helpers.js')