extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h4 Manejar Usuarios
			.col-md-2

		.row
			.col-md-1
			.col-md-6
				small
					*Buscar usuario por correo electrónico
				input#search_bar(class='form-control typeahead', name='search_bar', type='text', placeholder='Buscar')
			.col-md-4
			.col-md-1
		br
		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading Usuarios
					.panel-body
						.list-group(style='overflow:auto; height:550px;')
							table(class='table')
								thead
								tbody#usuarios_list(data-usuarios=usuarios, data-locations=locations, data-specialties=user_specialties)
									each usuario, i in usuarios
										tr
											td
												if i!=0
													a(class='list-group-item show_info_usuario', href='#', data-id=usuario.user_id)= usuario.username
												else 
													a(class='list-group-item active show_info_usuario', href='#', data-id=usuario.user_id)= usuario.username
				#add_specialty_panel.form-group
								.panel.panel-success
									.panel-heading Especialidades
									.panel-body
										form#form_new_specialty(role='form')
											.form-group
											label(for='new_specialty') Nueva Especialidad:
											input#new_specialty(class='form-control', name='new_specialty', type='text', placeholder='Nueva Especialidad')
										br
										.btn-group(role='group', aria-label='edit panel buttons')
											button#btn_post_new_specialty(class='btn btn-default') Someter


			#edit_panel.col-md-4(style="display:none")
					.jumbotron
						h4#heading_create Crear Usuario
						h4#heading_edit Editar Usuario
						form#form_manage_usuario(role='form')
							.form-group
								label(for='usuario_name') Nombre:
								input#usuario_name(class='form-control', name='usuario_name', type='text', placeholder='Nombre')
							.form-group
								label(for='usuario_middle_initial') Inicial (Opcional):
								input#usuario_middle_initial(class='form-control', name='usuario_middle_initial', type='text', placeholder='Inicial')
							.form-group
								.row
									.col-md-6
										label(for='usuario_lastname_paternal') Apellido 1:
										input#usuario_lastname_paternal(class='form-control', name='usuario_lastname_paternal', type='text', placeholder='Appelido Paterno')
									.col-md-6
										label(for='usuario_lastname_maternal') Apellido 2:
										input#usuario_lastname_maternal(class='form-control', name='usuario_lastname_maternal', type='text', placeholder='Appelido Materno')
							.form-group
								label(for='usuario_email') Correo Electrónico:
								input#usuario_email(class='form-control', name='usuario_email', type='email', placeholder='Correo Electrónico')
							.form-group
								label(for='usuario_telefono') Telefono:
								input#usuario_telefono(class='form-control', name='usuario_telefono', type='text', placeholder='Telefono')
							.form-group
								label(for='usuario_password') Contraseña:
								input#usuario_password(class='form-control', name='usuario_password', type='password', placeholder='Contraseña')
							.form-group
								label(for='usuario_password_confirm') Confirmar Contraseña:
								input#usuario_password_confirm(class='form-control', name='usuario_password_confirm', type='password', placeholder='Confirmar Contraseña')
							.form-group
								input#usuario_type(class='form-control', name='usuario_type', placeholder='Type')
							.form-group
								label(for='btn_user_type') Tipo de Cuenta:
								.dropdown
									.btn-group
										button#btn_user_type(class='btn btn-default dropdown-toggle', type='button', name='btn_user_type', data-toggle='dropdown', aria-expanded='false') 
											span#btn_user_type_text Tipo de Cuenta 
											span(class='caret')
										ul#list_user_type(class='dropdown-menu', role='menu')
											li
												a(role='menuitem', tabindex='-1', href='#', data-usario-type='admin') Admin
											li
												a(role='menuitem', tabindex='-1', href='#', data-usario-type='specialist') Especialista
											li
												a(role='menuitem', tabindex='-1', href='#', data-usario-type='agent') Agente
							#specialty_panel_edit.form-group(data-all-specialties=specialties)
								.panel.panel-success
									#especializacion_title_edit.panel-heading Tipo de Especializacion
									.panel-body
											#specialist_categories_list_edit(role='form')
											//button#btn_edit_specialty(class='btn btn-default btn-success', type='button') Editar Especialidades
						.btn-group(role='group', aria-label='info panel buttons')
							button#btn_close_edit_panel(class='btn btn-default') Cerrar
							button#btn_edit(class='btn btn-default btn-success', type='button') Guardar
							button#btn_submit(class='btn btn-default btn-success', type='button') Someter

			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title') 
					.panel-body
						table#usuario_info(class='table')
							tr
								td Nombre:
								td#usuario_info_name 
							tr
								td Appelido 1:
								td#usuario_info_lastname_paternal 
							tr
								td Appelido 2:
								td#usuario_info_lastname_maternal 
							tr
								td Tipo de Cuenta:
								td#usuario_info_type 
							tr
								td Información de Contacto:
								td#usuario_info_contact
						#specialty_panel.form-group(data-all-specialties=specialties)
								.panel.panel-success
									#especializacion_title.panel-heading Tipo de Especializacion
									.panel-body
											form#specialist_categories_list(role='form')
											//button#btn_edit_specialty(class='btn btn-default btn-success', type='button') Editar Especialidades
								button#btn_edit_panel(class='btn btn-sm btn-success btn-block' type='button') Editar
						.panel.panel-info
							.panel-heading Localizaciones Asignadas
							.panel-body
								table#usuario_locations(class='table')
						//button#btn_close_info_panel(class='btn btn-default') Cerrar
			.col-md-1

		.row
			.col-md-2

			.col-md-4
				button#btn_add_specialty(class='btn btn-sm btn-default btn-block', type='button') Agregar Especialidades
			.col-md-2
				// TODO: add home glyphicon
				//button#btn_add_usuario(class='btn btn-sm btn-default btn-block', type='button') Añadir Usuario

		.row

			.col-md-2
			.col-md-4
				// TODO: add home glyphicon
				br
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/typeahead.bundle.min.js')
	script(src='/javascripts/manejar_usuarios.js')
	script(src='/javascripts/helpers.js')