extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h4 Manejar Categorias
			.col-md-2

		.row
			.col-md-1
			.col-md-6
				//input#search_bar(class='form-control typeahead', name='search_bar', type='text', placeholder='Buscar categoria por nombre')
			.col-md-4
			.col-md-1

		.row
			.col-md-1
			.col-md-6
				#categoria_panel.form-group(data-all-categorias=categories)
								.panel.panel-success
									#categoria_panel_title.panel-heading Categorías de Localización
									.panel-body
										.list-group(style='overflow:auto; height:300px;')
											table(class='table')
												tbody#categories
										button#btn_add_categories(class='btn btn-default btn-success', type='button') Agregar 
										button#btn_edit_categories(class='btn btn-default btn-success', type='button', data-id=categories[0].category_id, data-category-name=categories[0].name) Editar
										button#btn_delete_categories(class='btn btn-default btn-success', type='button', data-id=categories[0].category_id) Eliminar
			.col-md-4
				#add_category_panel.form-group
								.panel.panel-success
									.panel-heading
									.panel-body
										form#form_new_category(role='form')
											.form-group
											label(for='new_category') Nueva Categoria:
											input#new_category(class='form-control', name='new_category', type='text', placeholder='Nueva Categoria')
										br
										.btn-group(role='group', aria-label='edit panel buttons')
											button#btn_post_new_category(class='btn btn-default') Someter
				#edit_category_panel.form-group
								.panel.panel-success
									.panel-heading
									.panel-body
										form#form_edit_category(role='form')
											.form-group
											label(for='category_name') Editar Categoria:
											input#category_name(class='form-control', name='category_name', type='text', placeholder='Editar Categoria')
										br
										.btn-group(role='group', aria-label='edit panel buttons')
											button#btn_put_new_category(class='btn btn-default') Someter

		br
		.row
				.col-md-1
				.col-md-6
					#specialty_panel.form-group(data-all-specialties=specialties)
								.panel.panel-success
									#specialty_panel_title.panel-heading Especialidades
									.panel-body
										.list-group(style='overflow:auto; height:300px;')
											table(class='table')
												tbody#specialties
										button#btn_add_specialties(class='btn btn-default btn-success', type='button') Agregar 
										button#btn_edit_specialties(class='btn btn-default btn-success', type='button', data-id=specialties[0].spec_id, data-specialty-name=specialties[0].name) Editar
										button#btn_delete_specialties(class='btn btn-default btn-success', type='button', data-id=specialties[0].spec_id) Eliminar
				.col-md-4
					#add_specialty_panel.form-group
								.panel.panel-success
									.panel-heading
									.panel-body
										form#form_new_specialty(role='form')
											.form-group
											label(for='new_specialty') Nueva Especialidad:
											input#new_specialty(class='form-control', name='new_specialty', type='text', placeholder='Nueva Especialidad')
										br
										.btn-group(role='group', aria-label='edit panel buttons')
											button#btn_post_new_specialty(class='btn btn-default') Someter
					#edit_specialty_panel.form-group
								.panel.panel-success
									.panel-heading
									.panel-body
										form#form_edit_specialty(role='form')
											.form-group
											label(for='specialty_name') Editar Especialidad:
											input#specialty_name(class='form-control', name='specialty_name', type='text', placeholder='Editar Especialidad')
										br
										.btn-group(role='group', aria-label='edit panel buttons')
											button#btn_put_new_specialty(class='btn btn-default') Someter
				
	
	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/typeahead.bundle.min.js')
	script(src='/javascripts/manejar_categorias.js')
	script(src='/javascripts/helpers.js')