extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')
	
block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h4 Manejar Cuestionarios
			.col-md-2

		.row
			.col-md-1
			.col-md-1
				#btn_home(class='btn-group', role='group', aria-label='')
					a(class='btn btn-success btn-block', data-toggle='tooltip')
									i(class='glyphicon glyphicon-home')
			.col-md-5
				//small
				//	| *Buscar cuestionario por nombre
				input#search_bar(class='form-control typeahead', name='search_bar', type='text', placeholder='Buscar')
			.col-md-4
			.col-md-1
		//br
		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading Cuestionarios
					.panel-body
						.list-group(style='overflow:auto; height:550px;')
							table(class='table')
								thead
								tbody#cuestionarios_list(data-cuestionarios=cuestionarios)
									each cuestionario, i in cuestionarios
										tr
											td
												if i!=0
													a(class='list-group-item show_info_cuestionario', href='#', data-id=cuestionario.flowchart_id)= cuestionario.flowchart_name
												else 
													a(class='list-group-item active show_info_cuestionario', href='#', data-id=cuestionario.flowchart_id)= cuestionario.flowchart_name
											//td
											//	button(class='btn_edit_cuestionario btn btn-sm btn-success btn-block', type='button', data-id=cuestionario.flowchart_id) Editar
											//td
											//	a(class='btn_delete_cuestionario btn btn-sm btn-success', data-toggle='tooltip', data-id=cuestionario.flowchart_id)
											//		i(class='glyphicon glyphicon-trash')

			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title')
					.panel-body
						table#cuestionario_info(class='table table-nowrap')
							thead
							tbody(data-cuestionarios=cuestionarios)
								tr
									td Nombre:
									td#cuestionario_info_name 
								tr
									td Versión:
									td#cuestionario_info_version 
								tr
									td Creado por:
									td#cuestionario_info_creator
						button#btn_edit_cuestionario(class='btn btn-sm btn-success btn-block', type='button') Editar
						a#btn_delete(class='btn btn-danger btn-block', data-toggle='tooltip')
							i(class='glyphicon glyphicon-trash')
			.row
			.col-md-2
			.col-md-4
				// TODO: add home glyphicon
				//button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/typeahead.bundle.min.js')
	script(src='/javascripts/manejar_cuestionarios.js')
	script(src='/javascripts/helpers.js')