extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron#info_current_user(data-user=current_user)
					center
						h2 Servicio de Extensión Agricola
						#title_panel.panel.panel-success
							.panel-heading Titulo
							.panel-body
									form#form_title(role='form')
										.form-group
											label(for='report_title')
											input#report_title(class='form-control', name='report_title', type='text', placeholder='Titulo')
									button#btn_submit_title(class='btn btn-default') Someter
						h3#title
							if reporte.report_name == null
								| Reporte sin título (click para asignarle nombre)
							else 
								= reporte.report_name
			.col-md-2

		.row
			.col-md-6
				center
					h2 Entrevista Contestada
				#answered_survey(class='jumbotron', data-survey=survey)
					- var has_recom = false;
					if survey.length > 0
						ol
							each item in survey
								if item.type != 'RECOM'
									li
										strong
											= item.question
										br
										em
											= item.path_data
								else
									- has_recom=true;

					//if !has_recom
					//	center
					//		button(class='btn_continue_survey btn btn-sm btn-success') Continuar Entrevista
			.col-md-6
				center
					
					.panel.panel-success
							.panel-heading Información General
							.panel-body#info_report(data-report=reporte)
								p Reporte ID: 
									= reporte.report_id
								p Usuario: 
									= reporte.report_creator
								p Fecha: 
									= reporte.report_date
								p Localización: 
									= reporte.location_name
								p Tipo de Encuesta: 
									= reporte.survey_type
								p Nombre de Encuesta: 
									= reporte.survey_name
									|  
									= reporte.survey_version
				// For use in phase 3
				center(style="display:none")
					
					.panel.panel-success
							.panel-heading Micelania
							.panel-body
								.row
									.col-xs-6.col-md-3
										a(class='thumbnail', href='#')
											img(src='', alt='img1')
								a(class='btn btn-sm btn-success', type='button', data-toggle='tooltip')
									i(class='glyphicon glyphicon-plus')
				// For use in phase 3
				div(style="display:none")
				center
					.panel.panel-success
								.panel-heading Notas Asociadas
								.panel-body
									#notas
										if reporte.note == null
											p
												| Agregue notas aqui.
										else
											p 
												= reporte.note
									a(class='btn btn-sm btn-success', id='btn_notes' type='button', data-toggle='tooltip')
										i(class='glyphicon glyphicon-edit')
									button#btn_submit_notes(class='btn btn-default btn-success', type='button') Someter

		.row
			.col-md-6
				center
					h2 Recomendaciones
				.jumbotron
					p
						each item in survey 
							if item.type == 'RECOM'
								= item.question
			.col-md-6
				center
					.panel.panel-success
						.panel-heading Cita de Seguimiento
						.panel-body
							#info_panel(data-appointment=appointment)
								if appointment == undefined
									p
										| No hay cita pendiente
									a(class='btn btn-sm btn-success', id='btn_add_appointment' type='button', data-toggle='tooltip')
										i(class='glyphicon glyphicon-plus')
								else
									p
										strong 
											| Creador de cita: 
										span(id='appointment_maker') 
											= appointment.maker
									p 
										strong Fecha: 
										span(id='appointment_date') 
											= appointment.date
									p
										strong Hora:
										span(id='appointment_time')  
											= appointment.time
									p
										strong Propósito: 
										span(id='appointment_purpose') 
											= appointment.purpose
									//a(class='btn btn-sm btn-success', id='btn_edit_appointment' type='button', data-toggle='tooltip' data-id=appointment.appointment_id)
										i(class='glyphicon glyphicon-edit')
							#edit_panel(style="display:none")
								form#form_post_appointment(role='form')
									.form-group
										label(for='cita_date') Fecha:
										input#cita_date(class='form-control', name='cita_date', type='date')
									.form-group
										label(for='cita_time') Hora:
										input#cita_time(class='form-control', name='cita_time', type='time')
									.form-group
										label(for='cita_purpose') Proposito:
										textarea#cita_purpose(class='form-control', name='cita_purpose', type='text', placeholder='Proposito')
								button#btn_close_edit_panel(class='btn btn-default', type='button') Cerrar
								button#btn_put_appointment(class='btn btn-default btn-success', type='button') Guardar
								button#btn_submit_appointment(class='btn btn-default btn-success', type='button') Someter

		.row
			.col-md-2
			.col-md-4
				button#btn_reportes(class='btn btn-sm btn-default btn-block', type='button') Regresar a Reportes
			.col-md-4
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal
			.col-md-2

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/reporte.js')
	script(src='/javascripts/helpers.js')