extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h4 Tomar Cuestionarios
			.col-md-2

		.row
			.col-md-1
			.col-md-6
				input#search_bar(class='form-control typeahead', name='search_bar', type='text', placeholder='Buscar cuestionario por nombre')
			.col-md-4
			.col-md-1

		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading Cuestionarios
					.panel-body
						.list-group(style='overflow:auto; height:300px;')
							table(class='table')
								thead
								tbody#cuestionarios_list(data-cuestionarios=cuestionarios)
									each cuestionario, i in cuestionarios
										tr
											td
												if i!=0
													a(class='list-group-item show_info_cuestionario', href='#', data-id=cuestionario.flowchart_id)= cuestionario.flowchart_name
												else 
													a(class='list-group-item active show_info_cuestionario', href='#', data-id=cuestionario.flowchart_id)= cuestionario.flowchart_name
											td
												cuestionario.version
											td
												button(class='btn_flujo_cuestionario btn btn-sm btn-success btn-block', type='button', data-id=cuestionario.flowchart_id) Método con Flujo
											//td
												//button(class='btn_abierto_cuestionario btn btn-sm btn-success btn-block', type='button', data-id=cuestionario.//flowchart_id, disabled) Método Abierto

			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title') Cuestionario 1
					.panel-body
						table#cuestionario_info(class='table table-nowrap')
							thead
							tbody
								tr
									td Nombre:
									td#cuestionario_info_name 
								tr
									td Versión:
									td#cuestionario_info_version 
								tr
									td Creado por:
									td#cuestionario_info_creator

		.row
			.col-md-2
			.col-md-4
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/typeahead.bundle.min.js')
	script(src='/javascripts/tomar_cuestionarios.js')
	script(src='/javascripts/helpers.js')